{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>
                <a id="broker-btn" class="btn btn-secondary" href="javascript:void(0)">Test Broker</a>
                <a id="auth-btn" class="btn btn-secondary" href="javascript:void(0)">Test Auth</a>

                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="sent"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
    let brokerBtn = document.getElementById("broker-btn");
    let authBtn = document.getElementById("auth-btn");
    let output = document.getElementById("output");
    let sent = document.getElementById("sent");
    let received = document.getElementById("received");

    
    authBtn.addEventListener("click", function() {
        const payload = {
            action: "auth",
            auth: {
                email: "admin@example.com",
                password: "verysecretss"
            }
        }

        const headers = new Headers();
        headers.append("Content-Type", "application/json");

        const body = {
            method: "POST",
            headers: headers,
            body: JSON.stringify(payload)
        }

        fetch("http:\/\/localhost:8080/handle", body)
        .then(res => res.json())
        .then(data => {
            sent.innerHTML = JSON.stringify(payload, undefined, 4);
            received.innerHTML = JSON.stringify(data, undefined, 4);
            if (data.error) {
                output.innerHTML += `<br><strong>Server Error</strong>: ${data.message}`;
            } else {
                output.innerHTML += `<br><strong>Response from broker</strong>: ${data.message}`;
            }
        })
        .catch(err => {
            output.innerHTML += `<br><strong>Client Error</strong>: ${err.message}`;
        })

    })


    brokerBtn.addEventListener("click", function() {
        const body = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "name": "test",
                "data": "test"
            })
        }
        fetch("http:\/\/localhost:8080", body)
        .then(res => res.json())
        .then(data => {
            sent.innerHTML = "empty post request sent";
            received.innerHTML = JSON.stringify(data, undefined, 4);
            if (data.error) {
                console.log('server error', data.message);
            } else {
                output.innerHTML += `<br><strong>Response from broker</strong>: ${data.message}`;
            }
        })
        .catch(err => {
            output.innerHTML += `<br><strong>Client Error</strong>: ${err.message}`;
        })

    })
    </script>
{{end}}
